@CHARSET "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hide {
	display: none;
}

.clear {
	float: clear;
}

body {
	font-size: 12px;
}

#main {
	min-height:	970px;
}

.pane {
	display: none;
}

/* Header */
#header {
	overflow: hidden;
	border: none;
}

#header h1 {
	display: inline;
	font-size: 36px;
}

#info {
	float: right;
	clear: right;
}

#footer {
	overflow: hidden;
	border: none;
}

#toolbar ul {
	float: right;
	clear: right;
}

#project {
	font-size: 12px;
	min-height: 600px;
}

#component {
	font-size: 12px;
	min-height: 600px;
}

#workspace {
	
}

#workarea .tabs li button {
	background: url("../images/tabs_close.gif");
	width: 15px;
	height: 15px;
	border: none;
	margin: 2px;
}

#workarea .tabs li button:hover {
	background: url("../images/tabs_close.gif");
}

#canvas {
	position: relative;
}

#droparea {
	position: absolute;
	z-index: 120;
	display: block;
}

#maskarea {
	background: #000000;
	opacity: 0.8;
	position: absolute;
	margin: 136px 0 0 38px;
	height: 480px;
	width: 320px;
	z-index: 120;
	display: block;
}

#progress {
	margin-top: 200px;
	opacity: 1;
}

.ui-progressbar .ui-progressbar-value {
	background: url("../images/progress.gif");
}

#device {
	background: url("../images/iphonebg.png");
	height: 610px;
	width: 358px;
	padding: 153px 0 0 38px;
}

#screen {
	border: none;
	height: 463px;
	width: 320px;
	z-index: 100;
}

#run {
	position: relative;	
}

.draggable {
  z-index: 100;
}

.ui-draggable-dragging {
  z-index: 1010;
}

#uicomponents {
	
}

#setupprojectdialog * {
	display: block;
}

#apptouchiconpreview {
	width: 57px;
	height: 57px;
}

#appstartupimagepreview {
	width: 160px;
	height: 230px;
}

.component {
	list-style: none inside none;
}

.component:hover {
	border: 1px solid #B3B3B3;
	background: #EFEFEF;
}

.component img.icon {
}
.component span.caption {
	text-align: center;
	display: block;
}

.selectionbox {
	position: absolute;
	border: dotted 1px #000000;
	cursor: move;
}

.selectionbox div {
	position: absolute;
	background: #FFFFFF;
	border: solid 1px #000000;
	width: 6px;
	height: 6px;
}

.selectionbox div.northwest {
	cursor: nw-resize;
}

.selectionbox div.north {
	cursor: n-resize;
}

.selectionbox div.northeast {
	cursor: ne-resize;
}

.selectionbox div.west {
	cursor: w-resize;
}

.selectionbox div.east {
	cursor: e-resize;
}

.selectionbox div.southwest {
	cursor: sw-resize;
}

.selectionbox div.south {
	cursor: s-resize;
}

.selectionbox div.southeast {
	cursor: se-resize;
}

#testprojectdialog {
	overflow: hidden;
}

#mtc {
	width: 100%;
	height: 100%;
}