<li class="event">
	<span class="name"></span><span> Event Handler:</span>
	<select>
		<option value="sethtmlattribute">Set HTML Attribute</option>
		<option value="setproperty">Set Property</option>
		<option value="navigatetopage">Navigate to Page</option>
		<option value="navigatetolink">Navigate to Link</option>
		<option value="openaspopup">Open as Popup</option>
		<option value="closepopup">Close Popup</option>
		<option value="invokerestservice">Invoke REST Service</option>
		<option value="javascript">Custom Javascript Handler</option>
	</select>
</li>