<div id="main">
	<header id="header" class="pane ui-layout-north"> </header>
	<div id="workspace" class="pane ui-layout-center">
		<div id="toolbar" class="ui-layout-north"></div>
		<div id="toolbox" class="ui-layout-west">
			<div class="tabs">
				<ul>
					<li><a href="#project">Project</a></li>
					<li><a href="#component">Component</a></li>
				</ul>
				<div id="project"></div>
				<div id="component"></div>
			</div>
		</div>
		<div id="workarea" class="ui-layout-center">
			<div class="tabs">
				<ul>
					<li><a href="#canvas">Canvas</a></li>
				</ul>
				<div id="canvas"></div>
			</div>
		</div>
		<div id="sidebar" class="ui-layout-east">
			<div class="tabs">
				<ul>
					<li><a href="#property">Properties</a></li>
					<li><a href="#event">Events</a></li>
				</ul>
				<div id="property"></div>
				<div id="event"></div>
			</div>
		</div>
		<div id="status" class="ui-layout-south"></div>
	</div>
	<footer id="footer" class="pane ui-layout-south"> </footer>
</div>