<div id="setupprojectdialog" title="Project Settings...">
	<label>App Full Name:</label>
	<input id="appfullname" type="text" />
	<label>App Description:</label>
	<textarea id="appdescription"></textarea>
	<label>App Author:</label>
	<input id="appauthor" type="text" />
	<label>App Touch Icon:</label>
	<input id="apptouchicon" type="file" />
	<img id="apptouchiconpreview"/>
	<label>App Startup Image:</label>
	<input id="appstartupimage" type="file" />
	<img id="appstartupimagepreview"/>
	<label>App Default Page Name:</label>
	<select id="appdefaultpagename">
	</select>
</div>