<div id="toolbar">
	<ul id="menu" class="sf-menu">
		<li class="current">
			<a href="javascript:void(0)">File</a>
			<ul>
				<li><a id="newproject" href="javascript:void(0)">New Project...</a></li>
				<li><a id="openproject" href="javascript:void(0)">Open Project...</a></li>
				<li><a id="saveproject" href="javascript:void(0)">Save Project</a></li>
				<li><a id="closeproject" href="javascript:void(0)">Close Project</a></li>
				<li><a id="removeproject" href="javascript:void(0)">Remove Project...</a></li>
				<li><a id="setupproject" href="javascript:void(0)">Project Settings...</a></li>
				<li><a id="newpage" href="javascript:void(0)">New Page...</a></li>
			</ul></li>
		<li>
			<a href="javascript:void(0)">Edit</a>
			<ul>
				<li><a id="undo" href="javascript:void(0)">Undo</a></li>
				<li><a id="redo" href="javascript:void(0)">Redo</a></li>
				<li><a id="removepage" href="javascript:void(0)">Remove Page</a></li>
				<li><a id="copycomponent" href="javascript:void(0)">Copy Component</a></li>
				<li><a id="cutcomponent" href="javascript:void(0)">Cut Component</a></li>
				<li><a id="pastecomponent" href="javascript:void(0)">Paste Component</a></li>
				<li><a id="removecomponent" href="javascript:void(0)">Remove Component</a></li>
			</ul>
		</li>
		<li><a href="javascript:void(0)">View</a></li>
		<li>
			<a href="javascript:void(0)">Run</a>
			<ul>
				<li><a id="runproject" href="javascript:void(0)">Run Locally</a></li>
			</ul>
		</li>
		<li><a href="javascript:void(0)">Debug</a></li>
		<li>
			<a href="javascript:void(0)">Test</a>
			<ul>
				<li><a id="testproject" href="javascript:void(0)">Test via MTC</a></li>
			</ul>
		</li>
		<li>
			<a href="javascript:void(0)">Deploy</a>
			<ul>
				<li><a id="deployproject" href="javascript:void(0)">Deploy to BAE</a></li>
			</ul>
		</li>
		<li><a href="javascript:void(0)">Optimize</a></li>
		<li><a href="javascript:void(0)">Team</a></li>
		<li><a href="javascript:void(0)">Monitor</a></li>
		<li><a href="javascript:void(0)">Help</a></li>
	</ul>
</div>
